# Pandas

In [4]:
import pandas as pd
import pandera as pa

In [5]:
# pandas Series
s1 : pd.Series = pd.Series([1, 2, 3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s1 : pd.Series = pd.Series(
    {
        'name':'Sarmad',
        'email':'sarmad@gmail.com',
        'age':19
     }
    )

s1

name               Sarmad
email    sarmad@gmail.com
age                    19
dtype: object

In [11]:
values : list[int] = [1, 2, 3, 4]
index : list[str] = ['a', 'b', 'c','d']

s1 : pd.Series = pd.Series(values,index=index)
s1

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
values : list[int] = [1, 2, 3, 4]
index : list[list[str]] = [['a', 'b', 'c','d'],['e','f','g','h']]

s1 : pd.Series = pd.Series(values,index=index)
s1

a  e    1
b  f    2
c  g    3
d  h    4
dtype: int64