In [1]:
import pandas as pd
import pandera as pa
import numpy as np
from nptyping import NDArray, Shape, Int64

## Pandas DataFrame operations

- add new column
- - on one column
- - more than one column
- delete column
- change data type of column
- map
- apply
- - on one column
- - more than one column

In [18]:
total : int = 100
s1 : NDArray[Shape[str(total)],Int64] = np.random.randint(20,80,total)
s1

array([54, 52, 62, 31, 76, 20, 26, 35, 65, 50, 76, 70, 40, 75, 27, 30, 58,
       60, 76, 53, 69, 29, 45, 38, 56, 33, 66, 23, 75, 59, 22, 20, 73, 77,
       21, 60, 52, 41, 62, 78, 33, 37, 75, 55, 31, 48, 27, 60, 21, 41, 64,
       65, 26, 53, 63, 30, 72, 26, 27, 56, 22, 55, 25, 66, 32, 69, 69, 47,
       55, 65, 38, 42, 31, 20, 48, 50, 69, 72, 36, 38, 67, 71, 74, 28, 46,
       72, 24, 39, 60, 60, 36, 76, 25, 44, 45, 26, 57, 29, 31, 63])

### Create a CSV file using DataFrame

In [20]:
s1 : pd.Series = pd.Series([1,2,3,4,5],name='Student Id')
s2 : pd.Series = pd.Series([10,20,30,40,50],name='Score')
s3 : pd.Series = pd.Series(["Sarmad","Hammad",'Akmal','Fakhir','Mustansar'],name='Student Name')

df1 : pd.DataFrame = pd.DataFrame({'Student Id':s1,'Student Name':s2,'Score':s3})

df1.to_csv('student.csv',index = False)